.swiper {
  width: 100%;
  padding: 30px 0;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-wrapper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.swiper-slide img:hover {
  box-shadow: 3px 3px 0 0 #a239f4;
}

.swiper-pagination-bullet {
  background-color: #5f556d;
  width: 10px;
  height: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #a239f4;
}

/* *** */
/* .button-next,
.button-prev {
  position: absolute;
  top: 50%;
  width: 50px;
  padding: 4px 10px;
  background-color: #ffcf32;
  box-shadow: 2px 2px 0 0 #212121;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.button-next:hover,
.button-prev:hover {
  box-shadow: 2px 2px 0 0 #a239f4;
}

:is(.button-next, .button-prev):hover {
  background-color: '#F7E4A8';
}

.button-next {
  right: 10px;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}
.button-prev {
  left: 10px;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
}

.button-next img,
.button-prev img {
  display: flex;
}
   {/*  navigation={{
         prevEl: '.button-prev',
         nextEl: '.button-next'
       }}
      <div className="button-prev">
        <img src={arrowLeft} alt="Left" />
      </div>
      <div className="button-next">
        <img src={arrowRight} alt="Right" />
      </div> */
